{% extends "base.html" %}

{% block content %}
    {% csrf_token %}

    <div class="article_info">
        <h3 class="text-center title">{{ article_obj.title }}</h3>
        <div class="cont">
            {{ article_obj.content|safe }}
        </div>
{#        博客园的点赞样式  ----#}
        <div class="">
            <div id="div_digg">
{#                点赞#}
                <div class="diggit action">
                    <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
                </div>
{#                反对#}
                <div class="buryit action">
                    <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
                </div>
                <div class="clear"></div>
                <hr>
                <hr>
                <div class="diggword" id="digg_tips" style="color: red;" ></div>
            </div>
        </div>
    </div>
    <hr>
{#    点赞#}
      <script>
         $("#div_digg .action").click(function () {
                var is_up = $(this).hasClass("diggit");


                $obj = $(this).children("span");

                $.ajax({
                    url: "/digg/",
                    type: "post",
                    data: {
                        "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                        "is_up": is_up,
                        "article_id": "{{ article_obj.pk }}",
                    },
                    success: function (data) {
                        console.log(data);

                        if (data.state) {
                            var val = parseInt($obj.text());
                            $obj.text(val + 1);
                        }
                        else {
                            var val2 = data.handled ? "您已经推荐过!" : "您已经反对过!";
                            $("#digg_tips").html(val2);

                            setTimeout(function () {
                                $("#digg_tips").html("")
                            }, 1000)

                        }

                    }
                })
            });
    {#评论请求#}
        $('.comment_btn').click(function () {
            var content = $("#comment_content").val();
            $.ajax({
                url:'/comment/',
                type: 'post',
                data: {  "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                  "article_id": "{{ article_obj.pk }}",
                        "content": content,
                        pid: pid},
                success:function (data) {
                    console.log(data)
                }
            })
        })

    </script>



{#    评论#}
    <div class="comments list-group">
        <p class="tree_btn" style="color: #c7254e">评论树</p>
        <div class="comment_tree">
{#            <div comment_id="'1">#}
{#                <span></span>#}
{#            </div>#}
{#            <div comment_id="'2">#}
{#                <span></span>#}
{#            </div>#}
{#            <div comment_id="'3">#}
{#                <span></span>#}
{#            </div>#}

        </div>
      {#-------评论树-------#}
        <script>


                 $.ajax({
                        url: "/get_comment_tree/",
                        type: "get",
                        data: {
                            article_id: "{{ article_obj.pk }}"
                        },
                        success: function (comment_list) {
                            console.log(comment_list);

                            $.each(comment_list, function (index, comment_object) {

                                var pk = comment_object.pk;
                                var content = comment_object.content;
                                var parent_comment_id = comment_object.parent_comment_id;
                                var s = '<div class="comment_item" comment_id=' + pk + '><span>' + content + '</span></div>';

                                if (!parent_comment_id) {

                                    $(".comment_tree").append(s);
                                } else {
                                    $("[comment_id=" + parent_comment_id + "]").append(s);
                                }
                            })
                        }
                    })



            </script>


        <p style="color: #c7254e">评论列表</p>
        <ul class="list-group comment_list">
            {% for comment in comment_list %}
                <li class="list-group-item">
                    <div>
                        <a href=""># {{ forloop.counter }}楼</a> &nbsp;&nbsp;
                        <span>{{ comment.create_time|date:"Y-m-d H:i" }}</span>&nbsp;&nbsp;
                        <a href=""><span>{{ comment.user.username }}</span></a>
                        <a class="pull-right reply_btn" username="{{ comment.user.username }}"
                           comment_pk="{{ comment.pk }}">回复</a>
                    </div>

                    {% if comment.parent_comment_id %}
                        <div class="pid_info well">
                            <p>
                                {{ comment.parent_comment.user.username }}: {{ comment.parent_comment.content }}
                            </p>
                        </div>
                    {% endif %}
                    <div class="comment_con">
                        <p>{{ comment.content }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <p style="color: #c7254e">发表评论</p>
        <p>昵称：<input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50"
                     value="{{ request.user.username }}">
        </p>
        <p>评论内容:</p>
        <textarea name="" id="comment_content" cols="60" rows="10"></textarea>
        <p>
            <button class="btn btn-default comment_btn btn-success">提交评论</button>
        </p>
    </div>

    <script>

        var pid='';
        $('.comment_btn').click(function () {
            {#根评论#}
            {#var pid='';#}
            var content=$('#comment_content').val();

            if(pid){
                var index=content.indexOf('\n');
                content=content.slice(index+1)
            }
            $.ajax({
                url:'/comment/',
                type:'post',
                data:{  "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                'article_id':'{{ article_obj.pk }}','content':content ,'pid':pid},
                success:function (data) {
                    console.log(data);

                    var create_time = data.create_time;
                    var username=data.username;
                    var content=data.content;

                    // 构建标签字符串 es6语法
                     var s = `
                           <li class="list-group-item">
                              <div>

                                  <span>${create_time}</span>&nbsp;&nbsp;
                                  <a href=""><span>${username}</span></a>

                              </div>
                              <div class="comment_con">
                                  <p>${content}</p>
                              </div>

                            </li>`;

                        $("ul.comment_list").append(s);



                    // 传回数据后，清空评论框中的内容
                    $('#comment_content').val('');
                    pid=''
                }

            })
        });

        // 回复按钮事件

        $('.reply_btn').click(function () {
            $('#comment_content').focus();
            // 找父评论
            var val='@'+$(this).attr('username')+'\n';
            $('#comment_content').val(val)
            pid=$(this).attr('comment_pk')
        })

    </script>



{% endblock %}